.chats_list{
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
}

.chat_sender{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.chat_sender_img,
.chat_receiver_img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.chat_sender p{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    max-width: 60%;
}

.chat_receiver{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.chat_receiver p{
    padding: 10px;
    background-color: #aff6be;
    border-radius: 10px;
    max-width: 60%;
}
